.trending{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.img{
    height: 150px;
    width: 150px;
    margin: 1px 7.5px;
    object-fit: cover;
}
.see_more{
    color: white;
    display: flex;
}
